<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145789747205-sbkdul8ud2qjopb3fcs77srie83opt6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145789747205-sbkdul8ud2qjopb3fcs77srie83opt6p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>145789747205-e8c9355h28dolj2gqt7mc10mqb363c2g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1OcoBvBfCu3N5uewqkG1oh9L__bmbsjw</string>
	<key>GCM_SENDER_ID</key>
	<string>145789747205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.abbadabba.ambudispatch</string>
	<key>PROJECT_ID</key>
	<string>ambudispatch-143720</string>
	<key>STORAGE_BUCKET</key>
	<string>ambudispatch-143720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145789747205:ios:fdc8b0ed93146104179c6c</string>
	<key>DATABASE_URL</key>
	<string>https://ambudispatch-143720.firebaseio.com</string>
</dict>
</plist>